<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\nlog-internal.log">

	<!-- Define your logging targets and rules here (same as in appsettings.json) -->
	<targets>
		<target xsi:type="File" name="file" fileName="logs/app.log" layout="${longdate} ${level:uppercase=true} ${logger} - ${message} ${exception:format=tostring}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="file" />
	</rules>
</nlog>
